<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->
<div class="container-fluid bg-primary py-4">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="font-Shrikhand m-0 fs-32-24"><a href="./index.html" class="p-4 m--4">ALPHABOX+</a></h1>
                </div>
                <ul class="d-lg-flex d-none justify-content-between align-items-center">
                    <li class="me-8"><a href="" class="fw-500 p-4 m--4">產品</a></li>
                    <li class="me-8"><a href="about.html" class="fw-500 p-4 m--4">關於我們</a></li>
                    <li class="me-8"><a href="" class="fw-500 p-4 m--4">最新消息</a></li>
                    <li class="me-8"><a href="" class="fw-500 p-4 m--4">FAQ</a></li>
                    <li><a href="" class="fw-500 p-4 m--4">聯絡我們</a></li>
                </ul>
                <ul class="d-lg-flex d-none justify-content-between align-items-center">
                    <li class="me-8"><a href="" class="p-4 m--4">註冊</a></li>
                    <li class="me-8"><a href="" class="p-4 m--4">登入</a></li>
                    <li>
                        <a href="" class="bg-white text-dark d-flex align-items-center px-4 py-2 rounded button-hover button-hover-bg">
                            <span class="material-symbols-outlined">
                                point_scan
                            </span>訂閱
                        </a>
                    </li>
                </ul>
                <nav class="navbar navbar-dark bg-primary d-lg-none">
                    <div class="container-fluid">
                        <button class="navbar-toggler border-0 text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>